table{
    border: 1px solid black;
    border-collapse: collapse;
    
}
tr,td,th{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.table-container{
    margin:10px;
}
@media (max-width:720px){
    table{
        font-size: 14px;
    }
}